In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('auto_with_col.csv')

In [ ]:
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [ ]:
df.shape

(205, 26)

In [ ]:
df.tail(10)

     symboling normalized-losses   make  ... city-mpg highway-mpg  price
195         -1                74  volvo  ...       23          28  13415
196         -2               103  volvo  ...       24          28  15985
197         -1                74  volvo  ...       24          28  16515
198         -2               103  volvo  ...       17          22  18420
199         -1                74  volvo  ...       17          22  18950
200         -1                95  volvo  ...       23          28  16845
201         -1                95  volvo  ...       19          25  19045
202         -1                95  volvo  ...       18          23  21485
203         -1                95  volvo  ...       26          27  22470
204         -1                95  volvo  ...       19          25  22625

[10 rows x 26 columns]

Save Dataset

In [ ]:
df.to_csv('auto_with_col.csv',index=False)

In [ ]:
import numpy as np

Replace missing values as "NaN"

In [ ]:
df.replace("?",np.nan,inplace = True)
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               NaN  alfa-romero  ...       21          27  13495
1          3               NaN  alfa-romero  ...       21          27  16500
2          1               NaN  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

Calculate missing values

In [ ]:
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

Check the Datatypes

In [ ]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

Calculate the Average of the column

In [ ]:
avg_norm_loss = df["normalized-losses"].astype("float").mean()
print("Average of normalized losses:",avg_norm_loss)

Average of normalized losses: 122.0

Replace Nan by mean value

In [ ]:
df["normalized-losses"].replace(np.nan,avg_norm_loss,inplace=True)

Replace NaN in "stroke" column by mean.

In [ ]:
avg_stroke = df["stroke"].astype("float").mean(axis = 0)
print("Average of stroke:",avg_stroke)
df["stroke"].replace(np.nan,avg_stroke,inplace = True)

Average of stroke: 3.2554228855721337

Replace NaN in "horspower" column by mean

In [ ]:
avg_horsepower = df["horsepower"].astype("float").mean(axis = 0)
print("Average of horspower:",avg_horsepower)
df["horsepower"].replace(np.nan,avg_horsepower, inplace = True)

Average of horspower: 104.25615763546799

Replace NaN in "bore" column by mean

In [ ]:
avg_bore = df["bore"].astype("float").mean(axis = 0)
print("Average of bore:",avg_bore)
df["bore"].replace(np.nan,avg_bore,inplace = True)

Average of bore: 3.3297512437810957

Replace NaN in "peak-rpm" column by mean.

In [ ]:
avg_peakrpm = df["peak-rpm"].astype("float").mean(axis = 0)
print("Average peak rpm:",avg_peakrpm)
df["peak-rpm"].replace(np.nan,avg_peakrpm,inplace = True)

Average peak rpm: 5125.369458128079

In [ ]:
df["num-of-doors"].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

Replace "four" for null values

In [ ]:
df["num-of-doors"].replace(np.nan,"four",inplace=True)

Drop whole row with NaN in "price" column

In [ ]:
df.dropna(subset=["price"],axis=0,inplace=True)
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3               122  alfa-romero  ...       21          27  13495
1          3               122  alfa-romero  ...       21          27  16500
2          1               122  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [ ]:
df.shape

(201, 26)

In [ ]:
df[["bore","stroke","peak-rpm","price"]]=df[["bore","stroke","peak-rpm","price"]].astype("float")
df[["normalized-losses"]]=df[["normalized-losses"]].astype("int")

In [ ]:
df.dtypes

symboling              int64
normalized-losses      int64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower            object
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [ ]:
df.head()

   symboling  normalized-losses         make  ... city-mpg highway-mpg    price
0          3                122  alfa-romero  ...       21          27  13495.0
1          3                122  alfa-romero  ...       21          27  16500.0
2          1                122  alfa-romero  ...       19          26  16500.0
3          2                164         audi  ...       24          30  13950.0
4          2                164         audi  ...       18          22  17450.0

[5 rows x 26 columns]

**Data Standardization**
Data is usually collected from different agencies with different formats.(Data standardization is also a term for a partcular type of data normalization, where we subtract the mean and divide by the stanndard deviation)

L/100km = 235 / mpg

In [ ]:
df["highway-L/100km"] = (235/df["highway-mpg"])
df.head()

   symboling  normalized-losses  ...    price highway-L/100km
0          3                122  ...  13495.0        8.703704
1          3                122  ...  16500.0        8.703704
2          1                122  ...  16500.0        9.038462
3          2                164  ...  13950.0        7.833333
4          2                164  ...  17450.0       10.681818

[5 rows x 27 columns]

In [ ]:
df["city-L/100km"] = 235/df["city-mpg"]
df.head()

   symboling  normalized-losses  ... highway-L/100km city-L/100km
0          3                122  ...        8.703704    11.190476
1          3                122  ...        8.703704    11.190476
2          1                122  ...        9.038462    12.368421
3          2                164  ...        7.833333     9.791667
4          2                164  ...       10.681818    13.055556

[5 rows x 28 columns]

Data Normalization
 
 why normalizatio?

 Normalization is the process of transforming values of several into a similar range. Typical normalizations include scaling the variable so the variable average is 0, scaling the varialble so the variance is 1,or scaling variable so  the variables values range from 0 to 1.

In [ ]:
df["length"] = df["length"]/df["length"].max()
df["width"] = df["width"]/df["width"].max()
df["height"] = df["height"]/df["height"].max()

In [ ]:
df[["length","width","height"]].head()

     length     width    height
0  0.811148  0.890278  0.816054
1  0.811148  0.890278  0.816054
2  0.822681  0.909722  0.876254
3  0.848630  0.919444  0.908027
4  0.848630  0.922222  0.908027

Dummy variables

In [ ]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price', 'highway-L/100km', 'city-L/100km'],
      dtype='object')

In [ ]:
dummy_variable_1=pd.get_dummies(df["fuel-type"])
dummy_variable_1.head()

   diesel  gas
0       0    1
1       0    1
2       0    1
3       0    1
4       0    1

In [ ]:
df["fuel-type"].value_counts()

gas       181
diesel     20
Name: fuel-type, dtype: int64

In [ ]:
dummy_variable_1.rename(columns={'gas':'fuel-type-gas','diesel':'fuel-type-diesel'},inplace=True)
dummy_variable_1.head()

   fuel-type-diesel  fuel-type-gas
0                 0              1
1                 0              1
2                 0              1
3                 0              1
4                 0              1

In [ ]:
df = pd.concat([df,dummy_variable_1],axis=1)
df.drop("fuel-type",axis=1,inplace=True)
df.head()

   symboling  normalized-losses  ... fuel-type-diesel fuel-type-gas
0          3                122  ...                0             1
1          3                122  ...                0             1
2          1                122  ...                0             1
3          2                164  ...                0             1
4          2                164  ...                0             1

[5 rows x 29 columns]

In [ ]:
dummy_variable_2=pd.get_dummies(df['aspiration'])
dummy_variable_2.rename(columns={'std':'aspiration-std','turbo':'aspiration-turbo'}, inplace=True)
dummy_variable_2.head()

   aspiration-std  aspiration-turbo
0               1                 0
1               1                 0
2               1                 0
3               1                 0
4               1                 0

In [ ]:
df.to_csv('Auto_mobile.csv')